.badge{
    background-color: red;
    color: rgb(0, 0, 0);
    font-style: oblique;
}

.container{
    background-color: rgb(3, 63, 18);
    max-width: 100%;
}
    



.nav-link{
    color: #fff;
    text-align: left;
    font-weight: bolder;
    font-size: 1.3rem;
}